body {
    background-color:#111;
}

h2 {
    font-family: 'Shadows Into Light';font-size: 40px; 
}

h4{
    font-family: 'Shadows Into Light';font-size: 35px; 
}

h5{
    font-family: 'Shadows Into Light';font-size: 35px; 
}

.label-blue {
    color:#5cb5b5;
}