body {
    background-color:#373a40;
}

h2 {
    font-family: 'Shadows Into Light';font-size: 40px; 
}

h4{
    font-family: 'Shadows Into Light';font-size: 35px; 
}

h5{
    font-family: 'Shadows Into Light';font-size: 35px; 
}

.label-blue {
    color:#eeeeee;
    font-family: 'Arial';
    font-style: bold;
}

.text-color{
    color: #EEEEEE ;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background:whitesmoke;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background:#19D3DA;
    cursor: pointer;
  }
  
